.container {
    display: flex;
    align-items: center;
}

.container *{
    margin: 20px;
}


.img-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}